@font-face {
    font-family: AnoPro;
    src: url(./assets/fonts/AnonymousPro-Regular.ttf);
}

@font-face {
    font-family: IBMPlexB;
    src: url(./assets/fonts/IBMPlexMono-Bold.ttf);
}

@font-face {
    font-family: IBMPlexM;
    src: url(./assets/fonts/IBMPlexMono-Medium.ttf);
}


* {
    margin: 0 auto;
    padding: 0 auto;
    color: white;
    text-decoration: none;
}
.absolute {
    position: absolute;
}






body {
    min-height: 100vh;
    background: linear-gradient(180deg, #6A33B0 0%, #221237 100%);
    background-repeat: no-repeat;
}




nav {
    display: flex;
    position: absolute;
    margin: 30px;
    padding: 0;
}

nav a img {   
    margin-right: 3px;
    display: flex;
    position: absolute;
    margin-left: 30px;
    width: 300px;
}




ul {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    width: 673px;
    height: 62px;
    margin-left: 500px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 31px;
    border: 1px solid #636363;
    background: #562A8F;
    box-shadow: 4px 4px 20px 0px #16161615 inset;
    align-items: center;
    justify-content: center;
}




li {
    font-family: "Sixtyfour", sans-serif;
    list-style: none;
    font-size: 1rem;
}














































.flexbox2 {
    border-radius: 17px;
    width: 277px;
    height: 54px;
    box-shadow: 4px 4px 20px 0px #6836A9 inset, 0px 1px 20px 10px #6836A9;
    filter: drop-shadow(0px 4px 22.4px #432982); 
}

.flexbox2 h1 {
    color: #FFF;
    font-family: "IBMPlexB";
    font-size: 1.3rem;
    font-style: normal;
    padding: 10px;
}


main {
    height: 500px;
    width: 90%;
    /* centrer une boite */
    margin: 0 auto;
}